// ** Exercises Page ** //
.field-input {
  width: 100px;
}

.error-message {
  color: $error-color;
  font-size: 1.4rem;
}

.exercise-name,
.target-muscles {
  font-size: 1.8rem;
}

.exercise-name {
  color: $blue-3;
  font-size: 2.8rem;
  margin-right: 20px;
}

.target-muscle {
  margin-right: 1.6rem;
}

.add-exercise-button {
  margin-bottom: 40px;
}
// ** End Exercises Page ** //

// ** Exercise Page ** //
.exercise-page-workout-date {
  color: #a7bbe2;
  font-size: 1.8rem;
  text-align: left;
}

.exercise-page-name {
  font-size: 3.6rem;
  margin-bottom: 50px;
  text-align: left;
}

.create-set-form {
  margin-bottom: 48px;
}

.field {
  display: inline-block;
  margin-right: 50px;
}

.rpe-field {
  margin: 0;
}

.field-label {
  color: #a7bbe2;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 5px;
  text-align: center;
}

input {
  background-color: #252a3400;
  border-bottom: solid #545f75 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #545f75;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  width: 89px;
}

input:focus {
  border: none;
  border-bottom: solid #6397ff 1px;
  // background-color: #356cda;
  outline: none;
}

input::placeholder {
  color: #303643;
}

#weight {
  margin-right: 5px;
}

select {
  background-color: #252a3400;
  border: none;
  color: #545f75;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  text-align-last: center;
}

select:focus,
select:active {
  border: none;
}

.create-set-form-buttons {
  display: flex;
  margin-top: 32px;
}

button {
  background: linear-gradient(
    180deg,
    $primary-color-dark 0%,
    $primary-color-dark 100%
  );
  border: none;
  color: #cfdefd;
  cursor: pointer;
  height: 4.8rem;
  padding: 8px 3.2rem;
  transition: box-shadow 0.1s ease;
  &:hover {
    box-shadow: 0px 1px 6px $primary-color-dark;
  }
}

.add-note,
.add-timer {
  margin: 8px 0px 0px 40px;
}

.add-timer:hover path,
.add-note:hover path {
  fill: #a7bbe2;
}

.working-sets {
  color: #a7bbe2;
  display: grid;
  gap: 2.4rem;
  grid-template-rows: auto-flow;
  margin-bottom: 48px;
  text-align: left;
}

.working-set {
  display: grid;
  gap: 10px;
  grid-column: span 5;
  grid-template-columns:
    minmax(26px, 31px)
    minmax(45px, 93px) /*max 115px with 3 decimal places*/
    minmax(45px, 67px)
    minmax(51px, 55px)
    auto;
}

.working-set-text {
  line-height: 100%;
}

/* Grid Items */
.working-set > span {
  align-self: end;
}

.working-set-icons {
  align-items: end;
}

.working-sets .unit {
  color: #545f75;
  font-size: 1.4rem;
  font-variant-caps: unicase;
  margin-left: 0.5rem;
}

.working-set-index {
  color: orangered;
  font-size: 1.45em;
  grid-column: 1;
  text-align: left;
}

.working-set-weight,
.working-set-reps,
.working-set-rpe {
  font-size: 1.6rem;
}

.working-set-weight {
  grid-column: 2;
  text-align: right;
}

.working-set-reps {
  grid-column: 3;
  text-align: right;
}

.working-set-rpe {
  grid-column: 4;
  text-align: right;
}

.delete-icon,
.edit-icon {
  grid-column: 5;
  height: 2.4rem;
  width: 3.2rem;
  path {
    fill: $icon-color;
  }
}

.edit-icon:hover {
  path {
    fill: $green-5;
  }
}

.delete-icon:hover {
  path {
    fill: $red-5;
  }
}
/* End Grid Items */
// ** End Exercise Page ** //
