//
//  This file is a reference and sass partial containing the color palette for
//  our user interface.
//
//  Each color group is listed by shade from light to dark. It might help to
//  think of the numbers as weights similar to font weights.
//
//  ex: blue-8 == blue with a weight of 800
//
//  Use abundantly and carefully!
//

// previous primary color #6397ff;
$primary-color-dark: rgb(46, 157, 248);
$primary-color: $primary-color-dark;
$primary-color-light: lighten(
  $color: $primary-color,
  $amount: 10%
);

$error-color: red;

$color-transition: color 450ms ease;
$fill-transition: fill 450ms ease;

//  Blue-Grays
$blue-gray-1: #a7bbe2;
$blue-gray-2: #8293b6;
$blue-gray-3: #6c7a96;
$blue-gray-4: #545f75;
$blue-gray-5: #3e4758;
$blue-gray-6: #303643;
$blue-gray-7: #252a34;
$blue-gray-8: #1b1f27;
$blue-gray-9: #0d1015;

//  Blues
$blue-1: #9bceff;
$blue-2: #7ebfff;
$blue-3: #62b2ff;
$blue-4: #46a3fe;
$blue-5: #1e90ff;
$blue-6: #197fe2;
$blue-7: #0f65b9;
$blue-8: #03529f;
$blue-9: #014282;

//  Green
$green-1: #c1f2c1;
$green-2: #98eb98;
$green-3: #75e375;
$green-4: #63df63;
$green-5: #32cd32;
$green-6: #21b821;
$green-7: #17a517;
$green-8: #108a10;
$green-9: #0e720e;

//  Purples
$purple-1: #ebd5f4;
$purple-2: #dbb8e8;
$purple-3: #d39fe7;
$purple-4: #c081d8;
$purple-5: #bb6bd9;
$purple-6: #a362bb;
$purple-7: #9056a6;
$purple-8: #77468a;
$purple-9: #5f366e;

//  Reds
$red-1: #ffc4ae;
$red-2: #ffa17e;
$red-3: #ff8355;
$red-4: #ff662e;
$red-5: #ff4500;
$red-6: #d63b01;
$red-7: #af2f00;
$red-8: #912801;
$red-9: #701f00;

//  Yellow
$yellow-1: #fff1a3;
$yellow-2: #ffea7a;
$yellow-3: #ffe55a;
$yellow-4: #ffdf33;
$yellow-5: #ffd700;
$yellow-6: #d2b201;
$yellow-7: #ad9201;
$yellow-8: #8a7501;
$yellow-9: #5e4f01;
