body {
  overflow: hidden;
}

.app {
  background: linear-gradient(180deg, #242932 0%, #12141a 100%);
  color: white;
  min-height: 100vh;
  padding: 40px;
  text-align: center;
  width: calc(100%);
}

header {
  width: 100%;
}

// ** Pages ** //
main {
  text-align: left;
}
.page-title {
  margin: 0 0 16px 0;
}
// ** End Pages ** //
