// ** Navigation ** //

.page-nav {
  margin-bottom: 48px;
  width: 100%;
}

.parent-screen-link {
  color: #545f75;
  display: inline;
  font-size: 1.4rem;
  text-align: left;
}

.parent-screen-link:hover {
  color: #a7bbe2;
}

.menu-toggle {
  cursor: pointer;
  font-size: 1.4rem;
  height: 14px;
  margin-left: auto;
}

.menu-toggle:hover path {
  fill: #a7bbe2;
}

.menu {
  background-color: $blue-gray-8;
  height: 100vh;
  left: 0;
  // padding: 40px;
  position: absolute;
  top: 0;
  transform: translateX(-18rem);
  transition: transform 650ms;
  width: 18rem;
  z-index: 200;
}

.menu.open {
  transform: translateX(0rem);
}

.menu ul {
  list-style: none;
  text-align: left;
}

.menu ul li a {
  color: #7d8cac;
  font-size: 1.8rem;
}
.menu ul li a:hover {
  color: #a7bbe2;
}
// ** End Navigation ** //
