// * Site * //
.site,
.site-background-blur {
  color: white;
  height: 100vh;
  width: calc(100%);
}

.site {
  background-attachment: fixed;
  background-image: url(../images/alora-1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

$bg-blur-opacity: 0.7;

.site-background-blur {
  background-color: #0003;
  background-image: linear-gradient(
    135deg,
    rgba(35, 20, 55, $bg-blur-opacity) 0%,
    rgba(44, 56, 94, $bg-blur-opacity) 50%,
    rgba(51, 110, 107, $bg-blur-opacity) 100%
  );
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto 65px;
  height: 100%;
  padding: 0px 40px;
}

header {
  align-items: center;
  display: flex;
}

.logo {
  font-size: $logo-font-size;
}

nav {
  font-size: 2em;
  margin-left: auto;
}

.link {
  color: white;
}

.site-nav-link {
  transition: $color-transition;
  &:hover {
    color: $primary-color-dark;
  }
}

main {
  align-self: center;
  justify-self: center;
}

.site-heading,
.app-details-preview,
h3,
h4,
.learn-more-link {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.app-details-preview,
h3,
h4,
.learn-more-link {
  font-family: "Montserrat", sans-serif;
}

.site-heading {
  font-size: $title-1-font-size;
  font-weight: 200;
  margin-bottom: 3.2rem;
}
.app-details-preview {
  font-size: $title-2-font-size;
  font-weight: 100;
  margin-bottom: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}
h3 {
  font-size: $title-3-font-size;
  font-weight: 400;
  margin-bottom: 2rem;
}
h4 {
  font-size: $subtext-font-size;
  font-weight: 100;
}

.cta-btn {
  background: none;
  background-color: $primary-color-dark;
  border-radius: 0;
  box-shadow: none;
  color: white;
  display: block;
  margin: 6.4rem auto 1rem auto;
  width: 24rem;
}

.learn-more-link {
  align-items: center;
  display: flex;
  font-size: $title-3-font-size;
  justify-content: center;
  margin: 10rem auto 0 auto;
  width: 20rem;
  .icon-wrapper {
    border: 1px solid white;
    border-radius: 16px;
    display: grid;
    height: 3.2rem;
    margin-left: 16px;
    width: 3.2rem;
  }
  svg {
    height: 1.4rem;
    place-self: center;
    width: 1.4rem;
    path {
      fill: white;
      transition: $fill-transition;
    }
  }
  &:hover {
    svg path {
      fill: white;
    }
  }
}

footer {
  align-self: center;
  justify-self: end;
}

.photo-cred {
  opacity: 0.05;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 600px) {
  .app-details-preview {
    max-width: none;
  }
  .site {
    background-image: url(../images/alora-600.jpg);
  }
}

// * End Site * //
