html {
  font-size: 10px; // allows rems to be 1:10 ratio
}

body {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$logo-font-size: 3.2rem;
$title-1-font-size: 5.2rem;
$title-2-font-size: 2.6rem;
$title-3-font-size: 1.8rem;
$subtext-font-size: 1rem;
