// ** Utility Classes ** //
.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.right {
  float: right;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}
// ** End Utility Classes ** //
